
<% @posts.each do |post| %>

<div class="card mb-3">
  <div class="card-header">
    <%= post.user.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title">
        <%= post.title %>
    </h5>
    <p class="card-text">
        <%= post.content %>
    </p>
    <a href="<%= edit_post_path(post) %>" class="btn btn-primary">update</a>
    <%= link_to 'delete', post, method: :delete, class: 'btn btn-danger' %>
    <%# <%= link_to 'delete', url: post_path, method: :delete %>

  </div>
  <div class="p-2 text-light bg-secondary">comments</div>
  <%= form_with(url: "/comments/#{post.id}/save", method: "post") do |f| %>
    <div class="text-light bg-secondary">
        <%= f.text_field :content, placeholder: "New comment....", class: "form-control", style: "border: none; border-radius: 0" %>
    </div>
  <% end %>
   <%# Listing Comments %>
    <% post.comments.each do |comment| %>
    <div class="p-3">
      <span>
        <%= comment.content %>
      </span>
      <span style="float: right">
        By: <%= comment.user.name %>
        <a class="btn btn-danger m-2 p-2" href="/comments/<%= comment.id %>/delete">x</a>
      </span>
     
    </div>
    <% end %>



</div>

<% end %>